<span class="pull-right ng-hide text-muted hello-user" ng-show="user">Hello {{user.displayName}}. <a class="logout" ng-click="logout()">Not {{user.givenName}}?</a></span>
<h3>Attach Source to
    <a href="{{data.attach.url}}" target="_blank" popover-placement="top" popover="View on FamilySearch" popover-trigger="mouseenter">{{data.attach.name}}</a>
    <a class="btn btn-success pull-right btn-sm" id="sourceTags" popover-template="myPopover.templateUrl" popover-placement="left" popover-is-open="myPopover.isOpen" ng-click="myPopover.toggle()"><i class="glyphicon glyphicon-tags"></i> Tag this Source to Events
        <span class="badge">{{tagCount}}</span></a> <br/>
    <small>Source: "{{data.title}}"</small>
</h3>

<form ng-submit="goNext()">
    <div class="form-group" show-errors>
        <label>Reason to Attach this Source to this Person
            <small>(Optional)</small>
        </label>
        <textarea class="form-control" ng-model="data.attach.justification" rows="5">{{data.attach.justification}}</textarea>
        <span id="helpBlock" class="help-block">This will be useful for other patrons who see your source, and want to know why you attached it.<br/><br/>A few examples: <br/><ul>
            <li>"This is one of my Grandparents and I know it applies."</li>
            <li>"I'm not sure if this is correct, more research is needed."</li>
        </ul></span>
    </div>
    <div class="text-right">
        <a ng-click="goBack()" type="submit" class="btn btn-default pull-left"><i
                class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp; Go Back </a> &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Create<span class="hidden-xs"> & Attach</span></button>
    </div>
    <select ng-repeat="source in sourceBox">
        <option value="RecordSeek">RecordSeek</option>
    </select>
</form>


