<div class="ng-hide" ng-show="data.complete && data.complete == 'noAttachment'">
    <h3>Congratulations! A source has been created and added to your <span class="text-info">source box</span></a>.<br/>
        <small>"{{data.title}}"</small>
    </h3>
    <p>The FamilySearch
        <span class="text-info">source box</span> lets you preserve the record sources that you find for later use. Once a source is in your
        <span class="text-info">source box</span>, you can easily find it again without having to search for it. You can also easily attach the sources in your
        <span class="text-info">source box</span> to your ancestors in FamilySearch Family Tree.</p>

    <div class="text-center">

        <br /><a href="{{datasourceDescription.url}}" class=" btn btn-info"
                target="_blank">View source box on FamilySearch</a><br/><br/>
        <a href="{{fsRedirect($parent.treeViewURL)}}" target="_blank" class="btn btn-warning">Add new records to your Family Tree</a><br/><br/>
    </div>
</div>

<div class="ng-hide" ng-show="data.complete && data.complete != 'noAttachment'">
    <h3>Congratulations! A new source has been created and added to <a
            href="{{data.complete.url}}" target="_blank" popover-placement="top"
            popover="View on FamilySearch"
            popover-trigger="mouseenter">{{data.complete.name}}</a>.</span><br/>
        <small>"{{data.title}}"</small>
    </h3>

    <div class="row ng-hide" ng-show="data.complete">
        <div class="text-center">
            <br/><span class="ng-hide" ng-hide="!data.complete"><a
                href="{{data.complete.url}}"
                class="btn btn-info" target="_blank">View Profile on FamilySearch</a><br/><br/></span>
        <span class="ng-hide" ng-hide="data.complete"><a href="{{fsRedirect($parent.sourceBoxURL)}}" class=" btn btn-info"
                target="_blank">View SourceBox on FamilySearch</a><br/><br/></span>
            <a ng-click="goSearch()" class="btn btn-warning">Attach to <span class="ng-hide"
                    ng-hide="data.complete">a</span><span
                    class="ng-hide" ng-hide="!data.complete">Another</span> Person</a><br/><br/>
        </div>
    </div>

    <div class="bs-callout bs-callout-info ng-hide" ng-show="data.search.newPerson">
        <h4>A New Profile was Created, Now What?</h4>

        <p>So there's a new person in the FamilyTree, but no one likes to be alone! Did you know that this ancestor has NO relatives attached? Please head over to FamilySearch and find their relatives, parents, or anyone you can to connect them to the Family Tree.</p>
        <center>
            <button type="button" class="btn btn-success">
                <i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;&nbsp;Tree View
            </button>
            <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Profile View
            </button>
        </center>

    </div>
</div>


<div class="ng-hide" ng-show="!data.complete">
    <h3>There seems to have been an error in the creation process.<br/>
        <small>Please try again later.</small>
    </h3>
</div>

<br/><br/><br/><p class="text-muted text-center">You may now close this window.</p>