<span class="pull-right ng-hide text-muted hello-user" ng-show="user">Hello {{user.displayName}}. <a ng-click="logout()">Not {{user.givenName}}?</a></span>
<h3>Search for an existing person</h3>
<div class="row container-fluid">
    <form class="personSearch" ng-init="isDisabled = false" ng-submit="goNext()">
        <div class="visible-xs">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group input-group-sm">
                        <label>Search by Person ID Number </label>
                        <input type="text" class="form-control" ng-model="data.search.pid">
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="form-group">
                    <label>Given Name(s)</label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.givenName">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid" ng-model="data.search.givenNameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="form-group input-group-sm">
                    <label class="hidden-xs">Last Names (Surname)</label>
                    <label class="visible-xs">Surname</label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.surname">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid" ng-model="data.search.surnameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="form-group input-group-sm">
                    <label>Gender </label>
                    <select class="form-control" ng-disabled="data.search.pid" ng-model="data.search.gender">
                        <option></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Unknown">Unknown</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="form-group input-group-sm">
                    <label>Event Type </label>
                    <select class="form-control" ng-disabled="data.search.pid" ng-model="data.search.eventType">
                        <option></option>
                        <option value="birth">Birth</option>
                        <option value="christening">Christening</option>
                        <option value="marriage">Marriage</option>
                        <option value="death">Death</option>
                        <option value="burial">Burial</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="visible-xs">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group input-group-sm">
                        <label>Event Year (Range) </label><br/>

                        <input type="text" class="form-control eventYearFrom" placeholder="From"
                                ng-disabled="data.search.pid || !data.search.eventType"
                                ng-model="data.search.eventDateFrom">

                        <input type="text" class="form-control eventYearTo" placeholder="To"
                                ng-disabled="data.search.pid || !data.search.eventType"
                                ng-model="data.search.eventDateTo">

                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group">
                        <label>Event Place </label>

                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control"
                                    ng-disabled="data.search.pid || !data.search.eventType"
                                    ng-model="data.search.eventPlace"
                                    typeahead-wait-ms="450" typeahead="address for address in getLocation($viewValue)"
                                    class="form-control">


                            <div class="input-group-addon" ng-show="data.search.advanced">
                                <input type="checkbox" ng-disabled="data.search.pid || !data.search.eventType"
                                        ng-model="data.search.eventPlaceExact"
                                        value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="form-group">
                    <label>Spouse's Given<span class="hidden-xs"> Name(s)</span> </label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.spouseGivenName">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid"
                                    ng-model="data.search.spouseGivenNameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-xs-6">

                <div class="form-group">
                    <label>Spouse's Surname </label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.spouseSurname">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid"
                                    ng-model="data.search.spouseSurnameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>

            </div>
            <div class="hidden-xs">

                <div class="col-sm-3">
                    <div class="form-group input-group-sm">
                        <label>Event Year (Range) </label><br/>

                        <input type="text" class="form-control eventYearFrom" placeholder="From"
                                ng-disabled="data.search.pid || !data.search.eventType"
                                ng-model="data.search.eventDateFrom">

                        <input type="text" class="form-control eventYearTo" placeholder="To"
                                ng-disabled="data.search.pid || !data.search.eventType"
                                ng-model="data.search.eventDateTo">

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Event Place </label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control"
                                    ng-disabled="data.search.pid || !data.search.eventType"
                                    ng-model="data.search.eventPlace"
                                    typeahead-wait-ms="450" typeahead="address for address in getLocation($viewValue)"
                                    class="form-control">


                            <div class="input-group-addon" ng-show="data.search.advanced">
                                <input type="checkbox" ng-disabled="data.search.pid || !data.search.eventType"
                                        ng-model="data.search.eventPlaceExact"
                                        value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="form-group">
                    <label>Mother's Given<span class="hidden-xs"> Name(s)</span> </label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.motherGivenName">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid"
                                    ng-model="data.search.motherGivenNameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="form-group">
                    <label>Mother's Surname </label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.motherSurname">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid"
                                    ng-model="data.search.motherSurnameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="form-group">
                    <label>Father's Given<span class="hidden-xs"> Name(s)</span></label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.fatherGivenName">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid"
                                    ng-model="data.search.fatherGivenNameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="form-group">
                    <label>Father's Surname </label>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.fatherSurname">

                        <div class="input-group-addon" ng-show="data.search.advanced">
                            <input type="checkbox" ng-disabled="data.search.pid"
                                    ng-model="data.search.fatherSurnameExact"
                                    value="0" popover="Exact" popover-trigger="mouseenter" popover-placement="bottom">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="hidden-xs">
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group input-group-sm">
                        <label>Search by Person ID Number </label>
                        <input type="text" class="form-control" ng-model="data.search.pid">
                    </div>
                </div>
            </div>
        </div>


        <div class="text-right">
            <a ng-click="goBack()" type="submit" class="btn btn-default pull-left"><i
                    class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp; Modify Source </a>
            <span class="hidden-xs"><a class="btn btn-link" ng-click="advancedSearch()">{{advancedButtonText}}</a>
            &nbsp;&nbsp;</span>

            <span class=""><a class="btn btn-default btn-sm" ng-click="resetSearch()">Reset</a>
            &nbsp;&nbsp;</span>

            <button type="submit" class="btn btn-primary">Next &nbsp;&nbsp;<i
                    class="glyphicon glyphicon-arrow-right"></i></button>
            <span class="visible-xs"><a class="btn btn-link" ng-click="advancedSearch()">{{advancedButtonText}}</a></span>
        </div>
    </form>
</div>

