<div class="alert alert-success text-center" role="alert">Ancestry URLs and FamilySearch login redirect issues are now resolved.</div>

<div class="alert alert-warning text-center hide" role="alert">We just added different source citation formats as well as TONS of bug fixes!</div>

<div class="alert alert-warning text-center hide" role="alert">We changed the MLA source citations on our side. FamilySearch should work again without any issue. :)</div>

<div class="alert alert-info text-center hide" role="alert">For those of you who use Ancestry, now you can change the source media URL. Enjoy!</div>

<div class="alert alert-success text-center hide" role="alert">Sorry for the LONG delay in fixes! Ancestry is now working again also with proper URL shortening from Ancestry to FamilySearch. Thanks Mark for the code!</div>

<div class="alert alert-danger text-center hide" role="alert">FamilySearch has released code with breaks the person search for everyone. <br />Until this issue gets resolved, <a href="https://github.com/FamilySearch/integration-data-copy/issues/11" target="_blank">details found here</a>, person search on FamilySearch will not work. We will keep you posted.</div>

<div class="jumbotron">
    <h1>Create a Source</h1>

    <p class="lead">
        Please select a service to add your source to.
    </p>
</div>
<div class="container-fluid serviceSelect">
    <div class="row">
        <div class="col-xs-6 text-center">
            <a data-href="/fs-source" id="loadFamilySearch" data-tracking="FamilySearch" ng-click="actionTaken( $event )"><img src="images/familysearch.png" class="img-responsive img-thumbnail hidden-xs center-block" popover-placement="bottom" popover="FamilySearch.org" popover-trigger="mouseenter"><img src="images/familysearch-icon.png" class="img-responsive img-thumbnail visible-xs center-block"></a><h4 class="visible-xs text-muted" style="margin-top:10.5px;">FamilySearch</h4>
        </div>
        <div class="col-xs-6 text-center">
            <a data-href="/a-source" id="loadAncestry" data-tracking="Ancestry" ng-click="actionTaken( $event )"><img src="images/ancestry.png" class="img-responsive img-thumbnail hidden-xs center-block" popover-placement="bottom" popover="Ancestry.com" popover-trigger="mouseenter"><img src="images/ancestry-icon.png" class="img-responsive img-thumbnail visible-xs center-block"></a><h4 class="visible-xs text-muted" style="margin-top:10.5px;">Ancestry</h4>
        </div>

    </div>

</div>
