<div class="alert alert-warning text-center" role="alert">Our appologies for the errors with FamilySearch the last 24 hours. These issues have been resolved.</div>

<div class="alert alert-success text-center hide" role="alert">RecordSeek is now fully functional once mobile. So grab out your tablet and start sourcing!&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://dovy.io/recordseek/recordseek-redesigned-from-the-ground-up/" class="btn btn-primary btn-sm" ng-click="actionTaken('Blog')" target="_blank">Learn More</a>
</div>

<div class="jumbotron">
    <h1>Create a Source</h1>

    <p class="lead">
        Please select a service to add your source to.
    </p>
</div>
<div class="container-fluid serviceSelect">
    <div class="row">
        <div class="col-xs-6 text-center">
            <a data-href="/fs-source" data-tracking="FamilySearch" ng-click="actionTaken( $event )"><img src="images/familysearch.png" class="img-responsive img-thumbnail hidden-xs center-block" popover-placement="bottom" popover="FamilySearch.org" popover-trigger="mouseenter"><img src="images/familysearch-icon.png" class="img-responsive img-thumbnail visible-xs center-block"></a><h4 class="visible-xs text-muted" style="margin-top:10.5px;">FamilySearch</h4>
        </div>
        <div class="col-xs-6 text-center">
            <a data-href="/a-source" data-tracking="Ancestry" ng-click="actionTaken( $event )"><img src="images/ancestry.png" class="img-responsive img-thumbnail hidden-xs center-block" popover-placement="bottom" popover="Ancestry.com" popover-trigger="mouseenter"><img src="images/ancestry-icon.png" class="img-responsive img-thumbnail visible-xs center-block"></a><h4 class="visible-xs text-muted" style="margin-top:10.5px;">Ancestry</h4>
        </div>

    </div>

</div>