@import "_variables";
@import "_timer-loader";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_flatly";

.header {
    .dropdown-menu {
        right: 0;
        left: inherit;
    }
}

.navbar i {
    margin-right: 5px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.browsehappy {
    a {
        color: #fff;
        border-bottom: 1px dashed;
        font-weight: bold;
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid #6B150D;
        }

    }
    margin-top: -10px;
}

html {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    overflow: auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand.service {
    font-size: 15px;
    i {
        margin-right: 10px;
    }
}

/* Custom page header */
.header {

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }

}

.outer-container {
    margin-left: 15px;
    margin-right: 15px;
}

.container-fluid {
    h3 {
        margin-bottom: 15px;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-top: 0;
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    //margin: 0 auto -55px;
    /* Pad bottom by footer height */
    //padding: 0 0 55px;
}

html, body {
    height: 100%;
}

body {
    padding-top: 90px;
}

/* Custom page footer */
.footer {
    height: 40px;
    line-height: 40px;
    color: #eee;
    margin-top: 15px;
    background: $navbar-default-bg;
    p {
        margin: 0;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container-fluid {
        //   max-width: 790px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.ng-hide-add-active {
    display: block !important;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.ng-hide-remove-active {
    display: block !important;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.ng-hide {
    opacity: 0;
    visibility: hidden;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

// Search page
@media screen and (max-width: 767px) {
    .personSearch {
        .dropdown-menu {
            left: 0 !important;
        }
        .eventYearFrom, .eventYearTo {
            width: 100%;
        }
    }
    body {
        padding-top: 75px;
    }
    .outer-container {
        margin-left: 0;
        margin-right: 0;
    }
}

.personSearch {
    .input-group {
        width: 100%;
    }
    hr {
        margin-top: 10px;
        margin-bottom: 18px;
    }
    label {
        font-size: 13px;
    }
    .eventYearFrom, .eventYearTo {
        width: 47%;
        display: inline;
    }
    .eventYearFrom {
        margin-right: 2%;
    }
    // Typeahead dropdown
    .dropdown-menu {
        right: 14px;
        left: -92% !important;
        padding: 0;
    }
    .dropdown-menu > li > a {
        white-space: normal;
        padding: 3px 12px;
    }
    .has-feedback label ~ .form-control-feedback {
        top: 21px;
        right: -8px;
    }
    .has-feedback .form-control {
        padding-right: 9px;
    }
    .ng-hide-add-active, .ng-hide-remove-active {
        -webkit-transition: all !important;
        transition: all !important;
        -webkit-transition-delay: 0s !important;
        transition-delay: 0s !important;
    }
}

a {
    cursor: pointer;
}

.btn-text {
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    float: left;
}

.btn-text.btn-xs {
    padding: 3px 10px 3px 0;
}

.results {
    .row.result-action {
        margin-top: 10px;
    }
    .confidence {
        font-size: 10px;
    }
    tr.loading td {
        width: 100%;
        line-height: 295px !important;
        text-align: center;
        background: #fff !important;
    }
    .events span {
        cursor: pointer;
        &.eLabel {
            color: #999;
        }
    }

    .header-fixed {
        width: 100%
    }

    .header-fixed > thead,
    .header-fixed > tbody,
    .header-fixed > thead > tr,
    .header-fixed > tbody > tr,
    .header-fixed > thead > tr > th,
    .header-fixed > tbody > tr > td {
        display: block;
    }

    .header-fixed > tbody > tr:after,
    .header-fixed > thead > tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .header-fixed > tbody {
        overflow-y: auto;
        border: 1px solid #eee;
        td {
            line-height: 1.2;

        }
        tr {
            border-bottom: 1px solid #eee;
            &:last-child {
                border-bottom: 0;
            }
        }

    }

    .header-fixed > tbody > tr > td,
    .header-fixed > thead > tr > th {
        float: left;
    }
    .header-fixed > tbody > tr > td {
        i {
            &.Male {
                color: #448EF7;
            }
            &.Female {
                color: #E2427C;
            }
            &.Unknown {
                color: #666;
            }
        }
        &.select {
            .btn {
                margin-top: 3px;
            }
        }
        &.person {
            small {
                color: #bbb;
                font-size: .8em;
                margin-left: 16px;
            }
            i {
                margin-right: 5px;
                font-size: .8em;
                top: 0;
            }
            a {
                text-decoration: none;
            }
        }
        &.events {
            white-space: nowrap;
            overflow: hidden;
            font-size: 13px;
            i {
                color: #aaa;
            }
        }
        &.parents, &.spouse {
            font-size: 13px;
            span {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                a {
                    text-decoration: none;
                }
                i {
                    margin-right: 5px;
                    font-size: 9px;
                    top: -1px;
                }

            }
        }
    }
    .header-fixed > tbody > tr > td,
    .header-fixed > thead > tr > th {
        &.select {
            width: 9%;
            min-width: 60px;
        }
        &.person {
            width: 28%;
            min-width: 60px;
        }
        &.events {
            width: 21%;
        }
        &.parents, &.spouse {
            width: 21%;
        }
    }

    .table tbody > tr > td.vert-align {
        vertical-align: middle;
    }
    .rowNotice {
        td {
            background: #e8e8e8 !important;
            color: #777;
            width: 100%;
            font-weight: normal;
            font-size: .9em;
            padding: 3px 5px;
        }
    }
    .pagination {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .results {
        .header-fixed > tbody > tr > td,
        .header-fixed > thead > tr > th {
            &.select {
                width: 9%;
                min-width: 60px;
            }
            &.person {
                width: 28%;
                min-width: 60px;
            }
            &.events {
                width: 35%;
            }
            &.parents {
                width: 21%;
            }
            &.spouse {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .results {

        .header-fixed > tbody > tr > td,
        .header-fixed > thead > tr > th {
            &.select, &.person, &.events {
                width: auto;
            }
            &.person {
                min-width: 30%;
            }
            &.parents, &.spouse {
                display: none;
            }
        }
        .header-fixed > thead {
            display: none;
        }
    }
}

.serviceSelect a {
    .img-thumbnail {
        -webkit-transition: 0.5s linear all;
        transition: 0.5s linear all;
    }
    &:hover {
        .img-thumbnail {
            background-color: #f8f8f8;
            border: 1px solid #aaa;
        }
    }
}

.hello-user {
    margin-top: -25px;
}

@media screen and (max-width: 767px) {
    .hello-user {
        margin-top: 0;
    }
}

.addPerson {
    // Typeahead dropdown
    .dropdown-menu {
        right: 14px;
        //left: -92% !important;
        padding: 0;
    }
    .dropdown-menu > li > a {
        white-space: normal;
        padding: 3px 12px;
    }
    .ng-hide-add-active, .ng-hide-remove-active {
        -webkit-transition: none !important;
        transition: none !important;
        -webkit-transition-delay: 0ms !important;
        transition-delay: 0ms !important;
    }
}

.bs-callout-info {

}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    background: #f9f9f9;
    border-left: 5px solid #eee;
    hr {
        margin-top: 0;
        margin-bottom: 5px;
    }
    &.bs-callout-info {
        border-left-color: $brand-success;
        h4 {
            color: $brand-success;
        }
    }
}
.badge {
    border-radius: 10px !important;
}
.sourceTags {
    .badge {
        padding-left: 6px;
        margin-left: 7px;
    }
    i {
        margin-right: 7px;
    }
}

mark, .mark {
    &.info {
        background: $btn-info-bg;
        color: $btn-info-color;
    }
    &.success {
        background: $btn-success-bg;
        color: $btn-success-color;
    }
    &.warning {
        background: $btn-warning-bg;
        color: $btn-warning-color;
    }
    &.danger {
        background: $btn-danger-bg;
        color: $btn-danger-color;
    }
}
#sourceTags {
    i {
        margin-right: 5px;
    }
    .badge {
        margin-left: 5px;
    }
}

.form-group {
    margin-bottom:10px;
}
#launcher-frame {
  left: 170px !important;
  position: absolute !important;
}

.hello-user .logout {
  display: none;
}
