<h3>Attach a Source
    <small> to Ancestry.com</small>
</h3>
<div class="row container">
    <form ng-submit="goNext()">
        <div class="form-group ng-hide" ng-show="debug">
            <label>Source
                <small>(URL)</small>
            </label>
            <input type="url" class="form-control" ng-model="data.url" placeholder="Enter a URL" readonly>
        </div>
        <div class="form-group ng-hide" ng-show="debug">
            <label>Source
                <small>(Domain)</small>
            </label>
            <input type="text" class="form-control" ng-model="data.domain" readonly>
        </div>
        <div class="form-group">
            <label for="sourceTitle">Source Title</label>
            <input type="text" class="form-control" ng-model="data.title" required
                   placeholder="Enter a title for this source">
        </div>
        <div class="form-group">
            <label for="citation">Where the Record Is Found
                <small>(Citation)</small>
            </label>
            <textarea class="form-control" ng-model="data.citation" required rows="5"></textarea>
        </div>
        <div class="text-right">
            <a ng-click="goBack()" type="submit" class="btn btn-default pull-left"><i
                    class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp; Go Back
            </a>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Next &nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>
    </form>
</div>