<h1>RecordSeek
    <small>- Sources Done Right</small>
</h1>
<div style="font-size: 1.2em;"><p>Back in 2013 I was a CTO of Real-Time Collaboration, makers of FamilyInsight,
    AncestorSync, and SharingTime. I found
    a real need, with the new FamilySearch website, to make the process of adding sources much more simplified. I sat
    down
    and in a few weeks RecordSeek was created.</p>

    <p>For a time we used the name of TreeConnect, but TreeConnect was only ever a "product" of RecordSeek. To avoid confusion, we're going back to RecordSeek as the original name.</p>

    <p>We've had some rough ups and downs, but now RecordSeek has been completely rewritten and is ready for the
        future!</p>

    <p>If you would like to integrate RecordSeek into your website, we're more than willing. We'd just request you
        donate
        to the effort. You are welcome to contact me directly at <a href="mailto:me@dovy.io?subject=RecordSeek">me@dovy.io</a>.</p>

    <p>My hope is that RecordSeek makes your genealogy efforts easier. Your ancestors thank you for your efforts.</p>

    <blockquote>Dovy Paukstys<br/>
        <small>Creator & Owner</small>
    </blockquote>
</div>