<span class="pull-right ng-hide text-muted hello-user" ng-show="user">Hello {{user.displayName}}. <a ng-click="logout()">Not {{user.givenName}}?</a></span>
<h3>Create a New Person</h3>

<form class="addPerson" ng-init="isDisabled = false" ng-submit="goNext()">
    <div class="row">
        <div class="col-xs-12 form-group">
            <div class="btn-group" dropdown is-open="status.isopen">
                <span class="btn-text btn-xs text-muted">Name Template:</span>
                <button type="button" class="btn btn-info btn-xs dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{data.search.langTemplate}}&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="value in langTemplates">
                        <a ng-click="changeTemplate(value)" href>{{value}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row row1">
        <div class="col-xs-1 rowTitle ng-hide" ng-class="(data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian') ? 'col-xs-2 rowTitle' : 'col-xs-2 col-sm-1 rowTitle'" ng-show="data.search.langTemplate == 'Chinese' || data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Cyrillic' ||  data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Korean' ||  data.search.langTemplate == 'Mongolian' ||  data.search.langTemplate == 'Thai' ||  data.search.langTemplate == 'Vietnamese'">
            <div class="form-group text-muted">
                {{title1}}
            </div>
        </div>
        <div ng-class="(data.search.langTemplate == 'Standard' || data.search.langTemplate == 'Spanish' || data.search.langTemplate == 'Portuguese') ? 'col-sm-2 col-xs-4' : 'col-sm-1 col-xs-5'" ng-hide="data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Japanese'">
            <div class="form-group">
                <label>Title</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.title1" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 ng-hide" ng-class="(data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Thai' || data.search.langTemplate == 'Vietnamese') ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'" ng-show="data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Japanese' ||  data.search.langTemplate == 'Chinese'">
            <div class="form-group">
                <label>Last Names (Surname)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.surname1" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6" ng-class="data.search.langTemplate=='Thai' ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'">
            <div class="form-group">
                <label>Given Name(s)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.givenName1" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6" ng-class="(data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Thai' || data.search.langTemplate == 'Vietnamese') ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'" ng-hide="data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Japanese' ||  data.search.langTemplate == 'Chinese'">
            <div class="form-group">
                <label>Last Names (Surname)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.surname1" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-6" ng-hide="data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Thai'">
            <div class="form-group">
                <label>Suffix</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.suffix1" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row row2 ng-hide" ng-show="data.search.langTemplate != 'Standard' && data.search.langTemplate != 'Spanish' && data.search.langTemplate != 'Portuguese'">
        <div class="col-xs-1 rowTitle ng-hide" ng-class="(data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian') ? 'col-xs-2 rowTitle' : 'col-xs-1 rowTitle'" ng-show="data.search.langTemplate == 'Chinese' || data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Cyrillic' ||  data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Korean' ||  data.search.langTemplate == 'Mongolian' ||  data.search.langTemplate == 'Thai' ||  data.search.langTemplate == 'Vietnamese'">
            <div class="form-group text-muted">
                {{title2}}
            </div>
        </div>
        <div ng-class="(data.search.langTemplate == 'Standard' || data.search.langTemplate == 'Spanish' || data.search.langTemplate == 'Portuguese') ? 'col-sm-2 col-xs-6' : 'col-sm-1 col-xs-6'" ng-hide="data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Japanese'">
            <div class="form-group">
                <label>Title</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.title2" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 ng-hide" ng-class="(data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Thai' || data.search.langTemplate == 'Vietnamese') ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'" ng-show="data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Japanese' ||  data.search.langTemplate == 'Chinese'">
            <div class="form-group">
                <label>Last Names (Surname)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.surname2" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6" ng-class="data.search.langTemplate=='Thai' ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'">
            <div class="form-group">
                <label>Given Name(s)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.givenName2" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6" ng-class="(data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Thai' || data.search.langTemplate == 'Vietnamese') ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'" ng-hide="data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Japanese' ||  data.search.langTemplate == 'Chinese'">
            <div class="form-group">
                <label>Last Names (Surname)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.surname2" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-6" ng-hide="data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Thai'">
            <div class="form-group">
                <label>Suffix</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.suffix2" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row row3 ng-hide" ng-show="data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Japanese'">
        <div class="col-xs-1 rowTitle ng-hide" ng-class="(data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian') ? 'col-xs-2 rowTitle' : 'col-xs-1 rowTitle'" ng-show="data.search.langTemplate == 'Chinese' || data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Cyrillic' ||  data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Korean' ||  data.search.langTemplate == 'Mongolian' ||  data.search.langTemplate == 'Thai' ||  data.search.langTemplate == 'Vietnamese'">
            <div class="form-group text-muted">
                {{title3}}
            </div>
        </div>
        <div ng-class="(data.search.langTemplate == 'Standard' || data.search.langTemplate == 'Spanish' || data.search.langTemplate == 'Portuguese') ? 'col-sm-2 col-xs-6' : 'col-sm-1 col-xs-6'" ng-hide="data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Japanese'">
            <div class="form-group">
                <label>Title</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.title3" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 ng-hide" ng-class="(data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Thai' || data.search.langTemplate == 'Vietnamese') ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'" ng-show="data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Japanese' ||  data.search.langTemplate == 'Chinese'">
            <div class="form-group">
                <label>Last Names (Surname)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.surname3" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6" ng-class="data.search.langTemplate=='Thai' ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'">
            <div class="form-group">
                <label>Given Name(s)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.givenName3" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6" ng-class="(data.search.langTemplate == 'Japanese' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Thai' || data.search.langTemplate == 'Vietnamese') ? 'col-sm-5 col-xs-6' : 'col-sm-4 col-xs-6'" ng-hide="data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Korean' || data.search.langTemplate == 'Khmer' ||  data.search.langTemplate == 'Japanese' ||  data.search.langTemplate == 'Chinese'">
            <div class="form-group">
                <label>Last Names (Surname)</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.surname3" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-6" ng-hide="data.search.langTemplate == 'Mongolian' || data.search.langTemplate == 'Vietnamese' || data.search.langTemplate == 'Thai'">
            <div class="form-group">
                <label>Suffix</label>

                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.suffix3" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group input-group-sm">
                <label>Gender </label>
                <select class="form-control" ng-disabled="data.search.pid" ng-model="data.search.gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Unknown" selected>Unknown</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group input-group-sm">
                <div class="radio">
                    <label> <input type="radio" name="status" ng-model="data.search.status" value="Living" required> Living </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="status" ng-model="data.search.status" value="Deceased"required> Deceased </label>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-6">
            <div class="form-group input-group-sm">
                <label>Date of Birth</label><br/>
                <input type="text" class="form-control birthDate" placeholder="" ng-disabled="data.search.pid" ng-model="data.search.birthDate" typeahead-wait-ms="650" typeahead="date for date in getDate($viewValue)" typeahead-template-url2="dateResponseTemplate.html" typeahead-input-formatter2="$model.normalized">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Birthplace </label>
                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid" ng-model="data.search.birthPlace" typeahead-wait-ms="650" typeahead="address for address in getLocation($viewValue)" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group input-group-sm">
                <label>Date of Death</label><br/>
                <input type="text" class="form-control deathDate" placeholder="" ng-disabled="data.search.pid || data.search.status == 'Living'" ng-model="data.search.deathDate" typeahead-wait-ms="650" typeahead="date for date in getDate($viewValue)" typeahead-template-url2="dateResponseTemplate.html" typeahead-input-formatter2="$model.normalized">

            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Place of Death </label>
                <div class="form-group input-group-sm">
                    <input type="text" class="form-control" ng-disabled="data.search.pid || data.search.status == 'Living'" ng-model="data.search.deathPlace" typeahead-wait-ms="650" typeahead="address for address in getLocation($viewValue)" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <a class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed">
                    <i ng-class="!isCollapsed ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-up'" class="glyphicon glyphicon-chevron-down"></i> Additional Relationships
                </a>
            </div>
        </div>
    </div>
    <div collapse="!isCollapsed">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Mother's Given<span class="hidden-xs"> Name(s)</span> </label>

                    <div class="form-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.motherGivenName">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Mother's Surname </label>

                    <div class="form-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.motherSurname">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Father's Given<span class="hidden-xs"> Name(s)</span></label>

                    <div class="form-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.fatherGivenName">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Father's Surname </label>

                    <div class="form-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.fatherSurname">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Spouse's Given<span class="hidden-xs"> Name(s)</span> </label>

                    <div class="form-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.spouseGivenName">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Spouse's Surname </label>

                    <div class="form-group input-group-sm">
                        <input type="text" class="form-control" ng-disabled="data.search.pid"
                                ng-model="data.search.spouseSurname">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        <a ng-click="goBack()" type="submit" class="btn btn-default pull-left"><i
                class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp; Go Back </a>
            <span class="hidden-xs"><a class="btn btn-link" ng-click="advancedSearch()">{{advancedButtonText}}</a>
            &nbsp;&nbsp;</span>

        <button type="submit" class="btn btn-primary">Next &nbsp;&nbsp;<i
                class="glyphicon glyphicon-arrow-right"></i></button>
    </div>
</form>


<script type="text/ng-template" id="dateResponseTemplate.html">
    <a data-formal="{{match.model.formal}}">
        <span bind-html-unsafe="match.model.normalized | typeaheadHighlight:query">{{match.model.normalized}}</span>
    </a>
</script>